.searchForm {
  font-size: 14px;
  padding: 10px 20px;
  border: 2px solid #e3e3e3;
  border-style: double;
  border-radius: 30px;
  position: relative;
  width: 100%;
}

.searchForm:focus {
  outline: none;
}
.btnSearch:hover {
  color: #032541;
}

.category-btn {
  cursor: pointer;
  background-color: #ffffff81;
}
.scrollMovie::-webkit-scrollbar {
  height: 6px;
}

.scrollMovie::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollMovie::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #01b4e3, #1ed5a9);
  border-radius: 10px;
}

.scrollMovie {
  margin-top: 10px;
}
.progress {
  background-color: #032541;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding: 6px 8px;
}
.elpises:hover {
  background-color: #01b4e3;
}